@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.custom-h1:hover {
  color: var(--black);
  -webkit-text-fill-color: var(--black);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.desc a {
  color: #3a80e9;
  text-decoration: underline;
  transition: all 1s;
}
.desc a:hover {
  font-size: 1.2rem;
  text-decoration: none;
}

.selected-link {
  color: var(--white) !important;
}

.bookmark {
  width: 3rem;
  font-size: 4rem;
}

@media only screen and (max-width: 758px) {
  .toggle-btn {
    font-size: 0.7rem !important;
    padding: 0.5rem !important;
  }
}
